{% extends "base.jinja" %}

{% block title %}Current Progress{% endblock %}
{% block head %}Current Progress{% endblock %}
{% block subhead %}Luka Rekhviashvili, Giorgi Rurua{% endblock %}

{% block content %}
<h1>Current Progress</h1>
<p>Details about the current progress of the project.</p>
{% endblock %}
