{% extends "base.jinja" %}

{% block title %}Methodology (Software){% endblock %}
{% block head %}Methodology (Software){% endblock %}
{% block subhead %}Luka Rekhviashvili, Giorgi Rurua{% endblock %}

{% block content %}
<h1>Methodology (Software)</h1>
<p>Details about the software methodology used in the project.</p>
{% endblock %}
