{% extends "base.jinja" %}

{% block title %}Amtavla: Sub Vocal Recognition{% endblock %}
{% block head %}Amtavla: Sub Vocal Recognition Project{% endblock %}
{% block subhead %}Luka Rekhviashvili, Giorgi Rurua{% endblock %}

{% block content %}
<p>navigation</p>
<ul>
    <li><a href="context.html">Context & Mission</a></li>
    <li><a href="research_repository.html">Research Repository</a></li>
    <li><a href="software.html">Methodology (Software)</a></li>
    <li><a href="hardware.html">Methodology (Hardware)</a></li>
    <li><a href="progress.html">Current Progress</a></li>
    <li>Future Roadmap (3-Phase Plan)
        <ul>
            <li><b>Phase 1: Foundation & Funding</b> - Detail the current need for microgrants and hardware refinement. <a href="phase_1.html">Learn more</a></li>
            <li><b>Phase 2: Data Acquisition</b> - Placeholder for expanding the dataset. <a href="phase_2.html">Learn more</a></li>
            <li><b>Phase 3: Integration</b> - Placeholder for the final BCI interface. <a href="phase_3.html">Learn more</a></li>
        </ul>
    </li>
</ul>

<br>
{% endblock %}
