{% extends "base.jinja" %}

{% block title %}X{% endblock %}
{% block head %}X{% endblock %}
{% block subhead %} <a href="svr.html"> Amtavla: Sub Vocal Recognition Project </a>
{% endblock %}

{% block content %}

{% endblock %}

{% macro header(text) %}
    <h3> {{ text }} </h3>
{% endmacro %}

{% macro body_text(text) %}
  <p style="margin-top: 0%;">
    {{ text | replace('\n', '<br><br>') | safe }}
  </p>
{% endmacro %}

{% block footer_links %}
<p style="margin: 0;"><a href="main.html">[ &lt;&lt; return to main index ]</a></p>
<p style="margin-top: 6px;"><a href="svr.html">[ &lt;&lt; return to svr index ]</a></p>
{% endblock %}
